/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  background: #f9f9f9;
  font-family: 'Roboto', sans-serif;
}

.tab-content {
  margin-top: 25px;
}

pre {
  background: #ddd;
  border-radius: 4px;
}

// Bootstrap
@import 'node_modules/bootstrap/scss/bootstrap-grid';
@import 'node_modules/bootstrap/scss/_mixins';
@import 'node_modules/bootstrap/scss/utilities/api';
